:root {
    --bg-color: hsl(257, 40%, 49%);
    --text-color: hsl(0, 0%, 100%);
    --hover-color: hsl(300, 69%, 71%);
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 70px;
    background: url("../images/bg-desktop.svg") var(--bg-color);
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    letter-spacing: 1.5px;
}

.logo {
    margin-bottom: 40px;
    transform: scale(0.7);
    margin-left: -35px;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.img img{
    width: 100%;
    height: auto;
}

/* .content {
    margin-left: 40px;
} */

.content a {
    display: inline-block;
    color: var(--bg-color);
    text-decoration: none;
    background-color: var(--text-color);
    padding: 15px 65px;
    margin-top: 12px;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    transition: all 0.5s;
}

.content a:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
}

/* FOOTER */

.icons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2.5rem;
    gap: 20px;
}

.icons p {
    color: var(--text-color);
    transition: all 0.5s;
}
.icons p:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .content  {
        text-align: center;
    }
    .icons {
        justify-content: center;
    }
}